body {
    background-color: #80d4ea;
}

h3{
  margin: 1%;
}

#clock, #date {
    font-family: courier, monospace;
    text-align: center;
    color: white;
    font-size: 85px;
}

#stop, #start {
  background: red;
  border-radius: 100%;
  width: 4%;
  padding: 2%;
  text-align: center;
  font-family: courier, monospace;
  color: white;
  margin: 1%;
  border: solid 4px white;
}

#start {
  background: green;
}
