body {
    background-color: #FCD6AC;
}

header {
  font-family: 'Delius Unicase', 'Knewave', courier, monospace;
  font-size: 3.3rem;
  margin-left: 3%;
}

div.container {
  vertical-align: top;
}

#clock {
    height: 40%;
    width: 50%;
    margin: 3% auto 0 auto;
    position: relative;
    vertical-align: top;
    font-family: 'Delius Unicase', 'Knewave', courier, monospace;
    text-align: center;
    font-size: 3rem;
    display: inline-block;

}


img {
  width: 30%;
  height: auto;
  display: inline-block;
  margin-left: 13%;
  vertical-align: center;
}
